.clearFloat {
  clear: both;			
}
body{
	background: black;
	color: white;
	padding: 20px;
}
#notificationArea{
	width: 100%;
	height: auto;
	font-size: 75%;
	text-align: right;
}

.notificationElement{
	display: inline-block;
	margin: auto;
	margin-left: 10px;
}

#navigationArea{
	margin: auto;
	margin-top: 30px;
	width: 100%;
	height: auto;
	font-size: 125%;
	text-align: center;
}

.navigationElement{
	display: inline-block;
	margin: 0px 0px 0px 20px;
}
#seperator{
	margin-top:5px;
	margin-left: 20px;
	margin-right: 20px;
}

iframe #agenda *{
	background : black;
	color: white;
	border: none;
}

.highlighted {
	font-size: 150%;
}

.contentAreaElement{/*
	border-style: solid;
    border-width: 5px;
    border-color: white;*/

	margin-top:5px;
	margin-left: 20px;
	margin-right: 20px;
}
#mailList *{
	background: black;
	border: none;
}
.mailFrom {
	font-size: 90%;
}
.mailSubject {
	font-size: 85%;
	padding-left: 20px;
}
.mailDate {
	font-size: 80%;
	padding-left: 20px;
}
.selected{
	font-size: 100%;
	font-weight: bolder;
}

#mailModal {
	margin-top: 5%;
	margin-right: auto;
	margin-left: auto;
}
#mailModal *{
	background:black;
	border: none;
}
#notificationLogin {
    margin-right: auto;
    margin-left: auto;
    margin-top: 300px;
    width:80%;
    z-index:105;
    text-align:center;
    font-weight:normal;
    font-size:20px;
    font-weight:bold;
    color:white;
    background-color:#FF7800;
    padding:5px;
}

#quit{
	width: 80%;
	padding: 30px;
}

.tweetCell{
	padding:20px;
}